* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	position: relative;
	z-index: -1;
	background-color: #EAEAEA;
}
header {
	background-color: #fff;
	z-index: 1;
	position: relative;
}
header, section, footer {
	margin: 0;
	padding: 0;
	max-width: 1200px;
	margin: 0 auto;
}
img {
	margin: 0;
	padding: 0;
}

/* -----------Header----------- */

.container {
	width: 100%;
	background: url(../img/bgNav.jpg);
	position: relative;
	z-index: 1;	
}
nav {
	max-width: 926px;
	margin: 0 auto;
	height: 60px;
}
nav .menu + a {
	display: none;
}

@media screen and (max-width: 790px) {
	header ul{
		display: none;
	}
	header {
		position: relative;
		z-index: 99;
		border-top: 3px solid #F05125;
	}
	
	nav .menu + a {
		display: inline-block;
	}
	.menu {
		position: absolute;
		top: 18px;
		left: 30px;
		width: 89px;
		height: 25px;
	}
	.menu:after {
		content: '';
		position: absolute;
		background: #111;
		width: 90px;
		height: 25px;
		top: 0;
		left: 0;
		cursor: pointer;
		opacity: 0;
	}
	.menu div {
		margin-bottom: 5px;
		height: 5px;
		width: 30px;
		background: #F05125;
	}
	nav a {
		text-decoration: none;
		text-transform: uppercase;
		font-family: "museosans300", sans-serif;
		font-size: 14px;
		color: #fff;
		line-height: 60px;
		margin-left: 50px;
	}
}

nav ul {
	line-height: 60px;
}
nav ul a {
	font-family: "museosans300", sans-serif;
	font-size: 12px;
	color: #FED9B0;
	text-decoration: none;
}
nav ul li {
	list-style: none;
	display: inline-block;
	margin-right: 3%;
	vertical-align: bottom;
}
.hr {
	position: relative;
	z-index: 1;
	height: 4px;
	width: 100%;
	background: -webkit-linear-gradient(left, rgba(225,240,229,1) 0%, rgba(252,253,252,0) 100%);b
	background: -o-linear-gradient(left, rgba(225,240,229,1) 0%, rgba(252,253,252,0) 100%);
	background: linear-gradient(to right, rgba(225,240,229,1) 0%, rgba(252,253,252,0) 100%); 
}
.title {
	position: relative;
	text-transform: uppercase;
	text-align: center;
	max-width: 1200px;
	margin: 6px auto -50px auto;
	background-color: #fff;
	max-width: 1200px;
  height: 165px;
	background: #FFF;
	border-radius: 560px/78px;
	top: -70px;
}
.title h1 {
	padding-top: 100px;
	font-family: "museosans700", sans-serif;
	font-size: 36px;
	color: #F05125;
	letter-spacing: 5px;
}
.title:after {
	display: block;
	z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  border-radius: 600px/92px;
  width: 90%;
  height: 157px;
  top: 2%;
  left: 5%;
  right: 5%;
  background: #fff;
  box-shadow: 0px 13px 7px #cccccc;
}
.title {
	
}


/* -----------Expanded menu----------- */

.menu_expand {
	display: none;
	background: #514c42;
	padding: 10px 50px;
}
.menu_wrap {
	width: 100%;
	margin: 0 auto;
}
.menu_item {
	height: 100px;
	border-bottom: 2px dotted #fff;
	line-height: 100px;	
}
.menu_item a {
	text-decoration: none;
	font-family: "museosans300", sans-serif;
	font-size: 22px;
	font-weight: normal;
	color: #abaaa6;
}
.menu_item a:hover {
	color: #f3744a;
}
.menu_item:last-child {
	border-bottom: none;
}

/* -----------Slider----------- */

.slider {
	width: 100%;
}
.slider {
	position: relative;
	overflow: hidden;
}
.pic {
	background: url(../img/pic.jpg);
	background-position: 50% 50%;
	height: 410px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}
.left {
	top: 185px;
	position: absolute;
	width: 40px;
	height: 40px;
	overflow: hidden;
}
.right {
	right: 0;
	top: 185px;
	position: absolute;
	width: 40px;
	height: 40px;
	overflow: hidden;
}
.right img {
	margin-left: -40px;
}
.bottom {
	position: absolute;
	bottom: -4px;
	/* background: #e17b0f; */
	max-width: 1200px;
	height: 60px;
	z-index: 2;
}
.bottom .bmg{
	opacity: 0.7;
	background-color: #e17b0f;
	width: 1200px;
	height: 60px;
	opacity: 0.5;
}
.center {
	max-width: 926px;
	margin: 0 auto;
	position: relative;
	z-index: 2;
}
.center h3{
	position: absolute;
	bottom: 0;
	font-family: "museosans300", sans-serif;
	font-size: 30px;
	font-weight: normal;
	color: #fff;
	margin-bottom: 14px;
}

/* ----------Main------------ */

.main {
	background-color: #FAF7F0;
	position: relative;
	z-index: 1;
	overflow: hidden;
}
.cont_main {
	max-width: 926px;
	min-height: 890px;
	margin: 0 auto;
	margin-top: -5px;
	padding: 0;
}
.cont_main .article{
	font-family: "museosans300", sans-serif;
	font-size: 22px;
	color: #666A67;
	padding-top: 50px;
}
.img_main {
	margin-top: 55px;
}
.img_main :last-child {
	margin-right: 0;
}
.img_main_item {
	text-align: center;
	display: inline-block;
	margin-right: 34px;
}

.img_item {
	max-width: 285px;
	max-height: 205px;
	background-color: #fff;
	padding: 10px;
	margin-bottom: 25px;
	position: relative;
}
.img_item:before, .img_item:after {
	z-index: -1;
	position: absolute;
	content: "";
	bottom: 12px;
	left: 10px;
	width: 50%;
	top: 80%;
	max-width: 300px;
	background: #FAF7F0;
	-webkit-box-shadow: 0 15px 10px #777;
	-moz-box-shadow: 0 15px 10px #777;
	box-shadow: 0px 13px 5px #777;
	-webkit-transform: rotate(-4deg);
	-moz-transform: rotate(-3deg);
	-o-transform: rotate(-3deg);
	-ms-transform: rotate(-3deg);
}
.img_item:after {
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
   transform: rotate(4deg);
   right: 10px;
   left: 127px;
   height: 199px;
   width: 144px;
   box-shadow: 15px 15px 5px #777;
   top: -9px;
}
.text {
	font-family: "museosans300", sans-serif;
	font-size: 20px;
	color: #000;
}

/* -------About------- */

.about {
	min-height: 158px;
	background: -webkit-linear-gradient(left, rgba(229,212,174,1) 0%, rgba(250,247,239,0) 100%);
	background: -o-linear-gradient(left, rgba(229,212,174,1) 0%, rgba(250,247,239,0) 100%);
	background: linear-gradient(to right, rgba(229,212,174,1) 0%, rgba(250,247,239,0) 100%);
	font-family: "museosans500", sans-serif;
	font-size: 11px;
	color: #524e45;
}
.about_center {
	max-width: 926px;
	min-height: 158px;
	margin: 0 auto;
}
.l_bl, .r_bl {
	margin-top: 32px;
	float: left;
	line-height: 1.5;
}
.l_bl {
	width: 125px;
	margin-right: 36px;
}
.l_bl ul li {
	list-style: none;
}
.l_bl a {
	text-decoration: none;
	color: #524e45;	
}
.r_bl {
	max-width: 245px;
	margin-right: 75px;
}
.r_bl h4 {
	text-transform: uppercase;
	font-weight: normal;
}
.r_bl .about_txt {
	font-family: "museosans300", sans-serif;
}
.r_bl:last-child {
	margin-right: 0;
}

/* -----------Footer----------- */

footer {
	height: 60px;
	background: rgb(216,213,202);
	background: -moz-linear-gradient(left,  rgba(216,213,202,1) 0%, rgba(207,167,131,1) 100%);
	background: -webkit-linear-gradient(left,  rgba(216,213,202,1) 0%,rgba(207,167,131,1) 100%);
	background: linear-gradient(to right,  rgba(216,213,202,1) 0%,rgba(207,167,131,1) 100%);
}
.foo_center {
	max-width: 926px;
	min-height: 60px;
	line-height: 60px;
	margin: 0 auto;
}
footer .h5{
	width: 200px;
	display: inline-block;
	line-height: 60px;
	font-weight: normal;
}
footer h5 {
	font-family: "museosans300", sans-serif;
	font-size: 11px;
	color: #524E45;
	font-weight: normal;
}
.foo_img {
	margin-top: 13px;
	height: 40px;
	display: inline-block;
	float: right;
	line-height: 60px;
}
.foo_img a:nth-child(5) {
	margin-right: 25px;
}

@media screen and (max-width: 980px) {
	nav {
		margin-left: 20px;
	}
	
	.center h3 {
		width: 100%;
		font-size: 20px ;
		margin-left: auto;
		margin-right: auto;
		line-height: 35px;
		text-align: center;
	}
	.cont_main .article {
		padding-left: 60px;
		padding-right: 60px;
		font-size: 20px;
	}
	.img_main_item {
		display: block ;
		margin-right: 0 ;
	}
	.img_item{
		margin-left: auto;
		margin-right: auto;
	}
	.text {
		margin-bottom: 30px;
	}
	.about {
		display: none;
	}
	footer .foo_center {
		text-align: center;
	}
	footer .h5 {
		display: none;
	}
	footer .foo_img {
		float: none;		
	}
	
}

@media screen and (max-width: 420px) {
	.center h3{	
		font-size: 12px;
	}
}